body {
    background-image: url("https://images.pexels.com/photos/683039/pexels-photo-683039.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    background-attachment: fixed;
  }

  #navColor {
    background-color: #DEB887;
  }

  .card-header {
    background-color: #DEB887
  }

  .category-style {
    font-size: 13px;
  }

  #form-collapse-style {
    background-color: #006400;
  }

  .card {
    margin: 20px;
  }